html {
  min-height: 100%;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}
body {
  background: #4571a5 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAASwCAIAAAC1rrcdAAAABmJLR0QA/wD/AP+gvaeTAAABOklEQVRYhbVWwRHCMAyzuxsDMRRzhk85SmI5kk0fPEoiSyfLSezxfB1mtvz8+u14zd1jvKNaHv+f4j3U4mD/WkvUeOHDe2YtqsaYI/NF9WTtG+bcchS8RloqntyRP14j4LjJk2xGMF7rbbtvTP6aGhHHqmXPx58bxOwXZoTpL9c3h2v43BDzV9JYOdf3fOpM5nr1GWn1jc0voVHN+MJB4HlPtLvnhwPsYftburfgGVbPH6uRys9cQ8UTMxnyhHgtf+2+sXd+4+0z5wFraXiScapvH9Y7OX89T9T8zRqlc30MWNMsW9thd/hzbaA+C7VHkTvF2+GtGgVvBl7fepNgaW/EGuE5Nxj8jr+m382amfzoaNY48fh9ps1FOVfhbJF9gfzdGt/12J/OXPXmAs7732aLx3rI38hlL9NvU/9VyxlDSM0AAAAASUVORK5CYII=");
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4571a5), color-stop(0.67, #e6e5e1), color-stop(1, #f1cdaf));
  background: -webkit-linear-gradient(top, #4571a5 0%, #e6e5e1 67%, #f1cdaf 100%);
  background: -moz-linear-gradient(top, #4571a5 0%, #e6e5e1 67%, #f1cdaf 100%);
  background: linear-gradient(top, #4571a5 0%, #e6e5e1 67%, #f1cdaf 100%);
  background-repeat: repeat-x;
  background-position: bottom center;
}
body,
button,
input,
select,
textarea {
  font: 14px/1.625 Georgia, serif;
  *font-size: 0.875em;
  color: #222;
}
p,
blockquote,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
form,
table,
fieldset,
menu,
h4,
h5,
h6,
img {
  margin: 0 0 1.625em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Palatino", "Palatino Linotype", "Book Antiqua", "FreeSerif", serif;
}
h1 {
  font-size: 4.25em;
  line-height: 1.471em;
  margin: 0 0 0.3824em;
}
aside h1 {
  font-size: 1em;
}
h2 {
  font-size: 2.625em;
  line-height: 1.2381em;
  margin: 0 0 0.619em;
}
h3 {
  font-size: 1.625em;
  line-height: 1em;
  margin: 0 0 1em;
}
h4,
h5,
h6 {
  font-size: 1em;
}
small {
  font-size: 0.625em;
  margin: 0 0 2.6em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre,
code,
kbd,
samp {
  font: 1em/1.625em Menlo, Consolas, "DejaVu Sans Mono", Monaco, monospace;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
}
tr,
th,
td {
  padding-right: 1.625em;
  border-bottom: 1px solid #333;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
legend {
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]-webkit-search-decoration {
  -webkit-appearance: none;
}
button-moz-focus-inner,
input-moz-focus-inner {
  border: 0;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
blockquote,
q,
cite {
  font-style: italic;
}
blockquote {
  padding-left: 1.625em;
  border-left: 3px solid #ccc;
}
blockquote > p {
  padding: 0;
}
ul,
ol {
  list-style-position: inside;
  padding: 0;
}
li ul,
li ol {
  margin: 0 1.625em;
}
dl dd {
  margin-left: 1.625em;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: none;
}
figure {
  margin: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #333;
  cursor: help;
}
ins,
mark {
  text-decoration: none;
}
mark {
  background: #ff0;
}
ins {
  background: #ff9;
}
del {
  text-decoration: line-through;
}
strong,
b,
dt {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
var,
address {
  font-style: normal;
}
sub,
sup {
  font-size: 0.625em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
header#main-header,
section#content {
  margin: 0 auto;
}
header#main-header {
  margin: 1.5em auto 3em;
}
header#main-header h1 {
  text-indent: -999999999em;
  overflow: hidden;
  text-align: left;
  text-indent: -99999em;
  width: 800px;
  height: 100px;
  background: transparent url("../images/hanssonlarsson_logo.svg") no-repeat;
  margin: 0 auto;
}
section#content {
  zoom: 1;
  position: relative;
  z-index: 1;
}
section#content:before,
section#content:after {
  content: "";
  display: table;
}
section#content:after {
  clear: both;
}
section#content aside,
section#content article {
  position: relative;
  background-color: #f9f6f6;
  color: #110909;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.27), 0 0 50px rgba(0,0,0,0.07) inset;
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.27), 0 0 50px rgba(0,0,0,0.07) inset;
  box-shadow: 0 1px 10px rgba(0,0,0,0.27), 0 0 50px rgba(0,0,0,0.07) inset;
}
section#content aside:before,
section#content article:before,
section#content aside:after,
section#content article:after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 10px;
  width: 70%;
  max-width: 200px;
  height: 55%;
  max-height: 100px;
  -webkit-box-shadow: 0 10px 16px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 10px 16px rgba(0,0,0,0.3);
  box-shadow: 0 10px 16px rgba(0,0,0,0.3);
}
section#content aside:before,
section#content article:before {
  left: 10px;
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
section#content aside:after,
section#content article:after {
  right: 10px;
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}
section#content article {
  padding: 4.5em 3em;
  margin-bottom: 1.5em;
}
section#content article:first-child {
  min-height: 36em;
}
section#content aside {
  padding: 1.5em;
  margin-bottom: 1.5em;
}
nav ul {
  list-style: none;
  margin: 0;
}
footer#main-footer {
  width: 100%;
  margin: 3.75em auto 0;
  padding-top: 13.5em;
  background: transparent url("../images/stockholm_skyline.svg") no-repeat top center;
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 1024px) {
  body section#content aside nav ul {
    zoom: 1;
  }
  body section#content aside nav ul:before,
  body section#content aside nav ul:after {
    content: "";
    display: table;
  }
  body section#content aside nav ul:after {
    clear: both;
  }
  body section#content aside nav ul li {
    float: left;
    margin-right: 1.625em;
  }
}
@media only screen and (min-width: 1024px) {
  body header#main-header,
  body section#content {
    width: 960px;
  }
  body section#content article {
    width: 70%;
    float: left;
  }
  body section#content aside {
    display: inline-block;
    width: 15%;
    float: right;
  }
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #222 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 2;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
